@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Scrollbar CSS Start */
::-webkit-scrollbar {
  width: 4px;
 }
 
 ::-webkit-scrollbar-track {
  background: transparent; 
 }
 
 ::-webkit-scrollbar-thumb {
  background: rgb(51 65 85 / 1);
  border-radius: 10px;
 }
 /* Scrollbar CSS End */

body {
  margin: 0;
  background: #0c1325;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top20 {
  top: 20%;
}

.text-hover-color:hover {
  color: #3aa9a7 !important;
  transition: color 300ms ease-in-out;
}

.drpdownContainer{
  right: 5%;
  top: 9%;
  max-height: 65vh;
 }

 .buyNowBtn{
  background: #3aa9a7;
 }

 .buyNowBtn:hover{
  background: hsl(179, 49%, 50%);
 }